body {
    margin:0em;
    padding:0.5em;
    max-wi dth:600px;
    background:#ffe;
}
body * { 
    font-family:sans-serif; 
}

table { 
    margin:0;
    background:#eee; 
}
table th,td { 
    padding:5px 10px; 
    text-align:center;
}
table th { 
    background:#ddd; 
}
table td { 
    background:#fff;
}
table td.blank { 
    background:#eee; 
}
dl dt { 
    font-weight:bold; 
    margin:0.5em 0;
}
dl dd { 
    margin-left:1em; 
}
blockquote { 
    margin:0; 
}
blockquote cite { 
    margin-left:2em;
    display:block;
    text-align:right; 
}

.nobr {
    white-space:nowrap;
}
.l {
    text-align:left;
}
.c {
    text-align:center;
}
.r {
    text-align:right;
}

/* LAYOUT */

#col1, #col2, #col3 {
    max-width:730px;
    margin-right:40px;
    float:left;
}
footer {
    clear:left;
}
