body {
    margin:0em auto;
    padding:1em 1em;
    max-width:1024px;
    background:#ffe;
    overflow-y: scroll;
}
body * { 
    font-family:georgia,sans-serif; 
}
table { 
    margin:1em 0;
    background:#bbb; 
}
table th,td { 
    padding:5px 10px; 
    text-align:center;
}
table th { 
    background:#ddd; 
}
table td { 
    background:#fff;
}
table td.blank { 
    background:#aaa; 
}
dl dt { 
    font-weight:bold; 
    margin:0.5em 0;
}
dl dd { 
    margin-left:1em; 
}
blockquote { 
    margin:0; 
}
blockquote cite { 
    margin-left:2em;
    display:block;
    text-align:right; 
}
input[type="text"] {
    border:0;
    background:white;
}
header {
    border-bottom:2px solid #bbb;
}
header * {
    text-align:center;
}
header img {
    margin:0 auto;
	width:100%;
//    max-width:800px;
	-ms-interpolation-mode: bicubic;
}
footer {
    clear:left;
    text-align:center;
    border-top:2px solid #bbb;
}
a:hover {
    background:yellow;
}
.nobr {
    white-space:nowrap;
}
.l {
    text-align:left;
}
.c {
    text-align:center;
}
.r {
    text-align:right;
}

#wklydocs {
    width:100%;
}

/* LAYOUT */

.col {
    width:96%;
    margin:0 2%;
    float:left;
}
@media screen and (min-width:480px) {
    .col {
        width:46%;
    }
}
@media screen and (min-width:960px) {
    .col {
        width:29%;
    }
}
