body {
    margin:0em;
    padding:0.5em;
    max-width:800px;
    background:#ffe;
    overflow-y: scroll;
}
body * { 
    font-family:georgia,sans-serif; 
}

table { 
    margin:1em 0;
    background:#eee; 
}
table th,td { 
    padding:5px 10px; 
    text-align:center;
}
table th { 
    background:#ddd; 
}
table td { 
    background:#fff;
}
table td.blank { 
    background:#eee; 
}
dl dt { 
    font-weight:bold; 
    margin:0.5em 0;
}
dl dd { 
    margin-left:1em; 
}
blockquote { 
    margin:0; 
}
blockquote cite { 
    margin-left:2em;
    display:block;
    text-align:right; 
}
a:hover {
    background:yellow;
}
.nobr {
    white-space:nowrap;
}
.l {
    text-align:left;
}
.c {
    text-align:center;
}
.r {
    text-align:right;
}

/* LAYOUT */
#login {
    text-align:center;
}
h1 {
    text-align:center;
}
.col {
    width:240px;
    margin-right:40px;
    float:left;
}
.lastcol {
    margin-right:0px;
}
header img {
	width:100%;
	height:auto;
	-ms-interpolation-mode: bicubic;
}
footer {
    clear:left;
}
#wklydocs {
    width:100%;
}
